/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    height: 100vh;
    background-image: linear-gradient( to bottom, #2e3a46 0%, #2e3a46 5%, #1e2d3b 5%, #1e2d3b 100% );
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img{
    height: 80px;
    width: 80px;
  }
  
  span{
    display: block;
  }
  
  #app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    height: 90%;
    margin-top: 50px;
  }
  
  button{
    width: 100px;
    height: 100px;
  }
  
  /* regole albums */
  .contenitore{
    width: calc(100% / 3);
    text-align: center;
    padding: 10px;
  }
  
  .album{
    background-color: #2e3a46;
    padding: 8px;
    height: 200px;
  }
  
  .testo{
    padding: 0 10px;
  }
  
  #titolo{
    padding-top: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
  }
  
  #autore{
    padding-top: 10px;
    line-height: 20px;
  }
  
  #autore, #anno{
    color: #60656a;
    font-size: 13px;
  }
  